body{
    font-family: 'Times New Roman', Times, serif;
    width: 80%;
    margin: auto;
    margin-left: 25px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
fieldset {
    background-color: powderblue;
    border: none;
  }