body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    margin: auto;
    background-color: darkgrey;
}
.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: beige;
    align-items: stretch;
    border-style: groove;
    border-radius: 2px;
    border-width: 2px;
}
.hartsa{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: honeydew;
    align-items: center;
}
div {
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: cornsilk;
    align-items: stretch;
}
.intro{
    background-color:coral;
    border-style: solid;
    border-radius: 20px;
    border-width: 10px;
    margin: 10px;
    padding: 5px;
    flex-grow: 2;
}
.card{
    border-style: solid;
    border-radius: 20px;
    border-width: 20px;
    margin: 20px;
    padding: 5px;
    background-color: lavender;
    flex-grow: 1;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
