body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    margin: 10%;
    /*background-color: azure;*/
    /*background-image: url('/images/taustakuva.jpg')*/
}
.box1 {
    width: 1920px;
    height: 1080px;
    background-color: lightcyan;
    border: 1px solid black;
    color: blue;
}
.centered {
    text-align: center;
    justify-items: center;
}
.centered {
    text-align: center;
    justify-items: center;
  }
