body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    margin: 10%;
    /*background-color: azure;*/
    /*background-image: url('/images/taustakuva.jpg')*/
}

.box1 {
    width: 1920px;
    height: 1080px;
    background-color: lightcyan;
    border: 1px solid black;
    color: blue;
}

.centered {
    text-align: center;
    justify-items: center;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

.list-container {
    display: block;
}

.grid-item {
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}