body{
    font-family: 'Times New Roman', Times, serif;
    width: 90%;
    margin: auto;
    margin-left: 25px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
fieldset {
    background-color: powderblue;
    border-style: solid;
    border-radius: 30px;
    border-width: 10px;
    margin: 10px;
    padding: 15px;
    flex-grow: 1;
}
table{
    border-collapse: collapse;
    margin: 25px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);


}
