body{
    font-family: 'Times New Roman', Times, serif;
    width: 90%;
    margin: auto;
    margin-left: 25px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
fieldset {
    background-color: powderblue;
    border-style: solid;
    border-radius: 30px;
    border-width: 10px;
    margin: 10px;
    padding: 5px;
    flex-grow: 1;
  }