body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    margin: auto;
    background-color: azure;
}
.maincontent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: azure;
    align-items: flex-end;
}
.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: azure;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    margin: 10px;
    padding: 5px;
}
.main1{
    display: contents;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: beige;
    border-style: groove;
    border-radius: 25px;
    border-width: 25px;
    margin: 10px;
    padding: 5px;
}
.intro{
    background-color: lavender;
    border-style: solid;
    border-radius: 15px;
    border-width: 10px;
    margin: 10px;
    padding: 10px;
    flex-grow: 1;
}
.intro2{
    background-color: ghostwhite;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    margin: 10px;
    padding: 10px;
    flex-grow: 1;
}
.card{
    border-style: solid;
    border-radius: 20px;
    border-width: 10px;
    margin: 10px;
    padding: 5px;
    background-color: antiquewhite;
    flex-grow: 1;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
* {
    box-sizing: border-box;
  }
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  .row {margin: 0 -5px;
}